*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.navibar, .sidebar{
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}


.navibar ul, .sidebar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navibar li, .sidebar li{
    height: 70px;
}

.navibar li:first-child, .sidebar li:first-child{
    margin-right: auto;
}
.navibar a, .sidebar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family:consolas, monospace;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.navibar a:hover, .sidebar a:hover{
    background-color: rgba(68, 68, 68, 0.637);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(48, 48, 48, 0.4);
    backdrop-filter: blur(10px); 
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li{
    width: 100%;
}

.navibar .menu-button{
    display: none;
}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .navibar .menu-button{
        display: block;
    }
    
}

main{
    flex: 1;
}



.content{
    width: min(90%, 1100px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*start of index.html styles*/
.profile{
    display: flex;
    background-color: rgba(192, 192, 192, 0.145);
    gap: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 6rem auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%);

}
@media (max-width: 800px){
    .profile{
        flex-direction: column;
        align-items: center;
    }
}

.profile-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(43, 47, 87);
    object-fit: cover;
}
.cv-button{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #005fa3;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
}

.profile-right h2{
    flex: 1;
    color: rgba(255, 255, 255, 0.896);
    font-family:consolas, monospace;
    font-size: 2rem;
    margin-left: min(1rem, 1vw);
    
}
.profile-right p{
    margin: min(1rem, 1vw);
    color: rgba(255, 255, 255, 0.696);
    font-family:consolas, monospace;
    font-size: clamp(1rem, 3vw, 1.2rem);
}


.projects h2{
    color: rgba(255, 255, 255, 0.896);
    font-family:consolas, monospace;
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto;
}


.slider-wrapper {
	position: relative;
    max-width: 1200px;
    margin: 2rem auto;
}

/* Slider resize for projects.html */
.slider-wrapper-projects {
	position: relative;
    width: 100%;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%);

}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}



.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
    width: 100%;
    cursor: pointer;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav button {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: #3734ff62;
    border:none;
}

.slider-nav button.active {
    background-color: #3734ff;
    border-radius: 1rem;
    border: grey 1px solid;
    transform: scale(1.3);
    box-shadow: 0 0 10px rgba(55, 52, 255, 0.6);
}

.slider-nav :hover {
  background-color: white;
}
/*end of index.html styles*/

/*start of projects.html styles */
.proj h1{
    color: rgba(255, 255, 255, 0.896);
    font-family:consolas, monospace;
    font-size: clamp(1.7rem, 3vw, 3rem);;
    margin-top: 4rem;
    
}

.proj h3{
    color: rgba(255, 255, 255, 0.896);
    font-family:consolas, monospace;
    margin-bottom: 2rem;


}

.project-item {
    display: flex;
    background-color: rgba(192, 192, 192, 0.145);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 8rem auto;
    gap: 2rem;    
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%);

}

.project-item.show{
    opacity: 1;
}

@media (max-width: 800px){
    .project-item{
        flex-direction: column;
    }
}

.project-item .left{
    flex:1;
}

.project-item .right{
    flex:1;
    margin: auto auto;
    text-align: center;
    h2{
        color: rgba(255, 255, 255, 0.896);
        font-family:consolas, monospace;
        font-size: 2rem;
    }
    p{
        margin: min(1rem, 1vw);
        color: rgba(255, 255, 255, 0.696);
        font-family:consolas, monospace;
        font-size: clamp(1rem, 3vw, 1.2rem);
        margin-bottom: 1rem;
    }
}

.probutton {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 1000px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-family: consolas, monospace;
    padding: 1em 2em;
    font-size: clamp(1rem, 3vw, 1.2rem);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.9);
    cursor: pointer;
}
.probutton:hover {
    background-color: #3734ff;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0);
    img{filter:invert(1);}
}
.probutton img{
    width: clamp(30px, 5vw, 40px);
    height: clamp(30px, 5vw, 40px);
    margin-left: 10px;
    vertical-align: middle;
}
/*end of projects.html styles */

/*start of contact.html styles */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.145);
    border-radius: 1rem;
    padding: 3rem;
    min-width: clamp(200px, 50vw, 600px);
    max-width: 1200px;
    margin: 2rem auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%);
    transition: transform 0.3s ease;
}

.card h1{
    color: rgba(255, 255, 255, 0.896);
    font-family:consolas, monospace;
    font-size: clamp(1.7rem, 3vw, 3rem);
    margin-bottom: 1rem;
}

.card input, .card textarea{
    width: clamp(100px, 50vw, 500px);
    background-color: white;
    max-width: 600px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid white;
    font-family:consolas, monospace;
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin-bottom: min(3rem, 2vw);
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.795);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.card input:focus, .card textarea:focus{
    border: 4px solid #0400ff;
    outline: none;
    box-shadow: 0 1.5rem 3rem -0.75rem #0400ff;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.card button{
    margin-top: clamp(1rem, 2vw, 2rem);
    position: relative;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 1000px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-family: consolas, monospace;
    padding: 1em 1em;
    font-size: clamp(1rem, 3vw, 1.2rem);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.9);
    cursor: pointer;
}

.card button:hover {
    background-color: #3734ff;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0);
    img{filter:invert(1);}
}

.card img{
    width: clamp(30px, 5vw, 40px);
    height: clamp(30px, 5vw, 40px);
    margin-left: 10px;
    vertical-align: middle;
}
/*end of contact.html styles */


/*start of personal_info.html styles */

.personal_info {
    padding: 2rem;
    display: flex;
    justify-content: center;
    color: white;
    font-family:consolas, monospace;
    ul{
        padding-left: 1.5rem;
        list-style-type: disc;
        li{
            margin-bottom: 0.5rem;
            font-size: clamp(1rem, 3vw, 1.2rem);
        }
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 6rem; 
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 900px) {
    .personal_info .row {
        grid-template-columns: 1fr;
    }
    .column h2{
        margin-top: 4rem;
    }
    .row{
        gap: 2rem;
    }
}
.column h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    img{
        width: clamp(50px, 5vw, 160px);
        filter: invert(1);
    }
    
}


.date{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.date img{
    width: clamp(20px, 3vw, 30px);
    filter: invert(1);
}

.content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: rgba(192,192,192,0.1); 
    border-radius: 1rem;
    border: gray 1px solid;
    cursor: pointer;
}

.content-box:hover{
    box-shadow: 0 1.5rem 3rem -0.75rem #0400ff;
    border: 1px solid #0400ff;
    transition: 0.3s ease;
}

.timeline-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 5px solid #0400ff;
    padding-left: 1rem;
    border-radius: 1rem;
}

.content-box::before{
    position:absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #0400ff;
    border-radius: 50%;
    left: -30px;
    top: 40%;
    box-shadow: 0 0 25px #ffffff;
}
































































footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    color: white;
    text-align: center;
    padding: 1rem;
    font-family:consolas, monospace;
    font-size: large;
}

footer h3{
    color: white;
    text-align: center;
    font-family:consolas, monospace;
    font-size: x-large;
    margin-top: 1rem;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;              
    padding: 1rem 0;
    
}

footer .social-links li {
    list-style: none;
    border: 6px double rgba(255, 255, 255, 0.788);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.692), inset 2px 2px 10px rgba(255, 255, 255, 0.411);
    border-radius: 10% ;
}

footer .social-links img {
    filter:invert(1);
    width: clamp(30px, 5vw, 40px);
    height: clamp(30px, 5vw, 40px);
    object-fit: contain;
    transition: transform 0.2s;
}

footer .social-links a:hover img {
    transform: scale(1.1);
    
}

footer .social-links li:hover {
    box-shadow: 2px 2px 10px #3734ff , inset 2px 2px 10px #3734ff ;
    border: 6px double #3734ff;
    transition: 500ms ease;
}

