*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navibar, .sidebar{
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}


.navibar ul, .sidebar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navibar li, .sidebar li{
    height: 70px;
}

.navibar li:first-child, .sidebar li:first-child{
    margin-right: auto;
}
.navibar a, .sidebar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family:consolas, monospace;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.navibar a:hover, .sidebar a:hover{
    background-color: rgba(68, 68, 68, 0.637);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(48, 48, 48, 0.4);
    backdrop-filter: blur(10px); 
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li{
    width: 100%;
}

.navibar .menu-button{
    display: none;
}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .navibar .menu-button{
        display: block;
    }
    
}

main{
    flex: 1;
    background: linear-gradient(300deg,#000000,#151515,#000000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content{
    width: min(90%, 1000px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    display: flex;
    background-color: rgba(192, 192, 192, 0.145);
    gap: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 1000px;
    margin: 2rem auto;
}

.profile-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(43, 47, 87);
    object-fit: cover;
}
.cv-button{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #005fa3;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
}

.profile-right h2{
    flex: 1;
    color: rgba(255, 255, 255, 0.896);
    font-family:consolas, monospace;
    font-size: 2rem;
}
.profile-right p{
    color: rgba(255, 255, 255, 0.696);
    font-family:consolas, monospace;
    font-size: clamp(1rem, 3vw, 1.2rem);
}
footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    color: white;
    text-align: center;
    padding: 1rem;
    font-family:consolas, monospace;
    font-size: large;
}

footer h3{
    color: white;
    text-align: center;
    font-family:consolas, monospace;
    font-size: x-large;
    margin-top: 1rem;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;              
    padding: 1rem 0;
    
}

footer .social-links li {
    list-style: none;
    border: 6px double rgba(255, 255, 255, 0.788);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.692), inset 2px 2px 10px rgba(255, 255, 255, 0.411);
    border-radius: 10% ;
}

footer .social-links img {
    filter:invert(1);
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.2s;
    
}

footer .social-links a:hover img {
    transform: scale(1.1);
}

